body { padding-top: 70px; }

.jumbotron {
    position: relative;
    background: url("../imgs/yoda13.jpg") center center;
    width: 100%;
    height: 700px;
    background-size: cover;
    overflow: hidden;
}

