.jumbotron {
    position: relative;
    background: url("https://www.flickr.com/photos/glyeah/9714822698/") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

